* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  /* border: red solid 1px; */
}

p,
h3 {
  margin-left: 10px;
}

p {
  line-height: 2;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  background-color: rgb(135, 205, 201);
}

section h2 {
  background-color: white;
  width: 95%;
  margin: 10px;
  height: 30px;
  border-radius: 25px;
  color: rgb(49, 152, 146);
  text-align: center;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0px 20px 20px;
  width: 30%;
}

.principal img {
  width: 280px;
  margin: 10px;
  border-radius: 50%;
}

.contacto, .educacion, .rrss ul {
  width: 100%;
}

.otros-cursos ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
}
.rrss i {
  font-size: 40px;
  margin: 10px;
}

.rrss {
  display: flex; 
  flex-direction: column;
  align-items: center; 
 
}

.rrss a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-bottom: 10px; 
  width: 100%;
  box-sizing: border-box;
}

.rrss a:hover {
  color: rgb(49, 152, 146);
  font-weight: bold;
}

aside {
  width: 70%;
  background-color: white;
  border-radius: 15px;
  margin: 35px 25px;
}

aside h2 {
  background-color: rgb(102, 194, 188);
  color: white;
}

aside section {
  margin: 40px;
}

aside h1 {
  font-family: "Coustard", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  margin: 30px;
  color: rgb(49, 152, 146);
}

.reconocimientos ul,
.experiencia ul {
  display: flex;
  flex-direction: column;
}
